@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  ---green:#339b20;
  ---black:#222222;
  ---white:#ffffff;
  ---blue:#1f73bb;
  ---gray:#8e8e8e;
  ---lightGray: #d3d3d3;
  ---skyBlue: #09b1f3;
  ---hoverBlue:#0683b5;
}

.main-header{
 align-items: center;
 box-shadow: 0px 3px 5px #ccc ;
 background-color: var(---blue);
 position: fixed;
 width: 100%;
}
.main-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
.main-header .logo {
  margin-left: 30px;
}
.main-header .logo h2{
  font-size: 30px;
  font-weight: 700;
  color: var(---white);
}
.main-header .links {
  margin-right: 25px;
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 20px;
  font-weight: 500;
}
.main-header .links button{
  color: var(---white);
  font-weight: 700;
}
.main-header .links button:hover {
  color: var(---black);
}

@media screen and (max-width: 800px) {
  .main-header .logo {
    margin-left: 10px;
  }
  .main-header .logo h2{
    font-size: 20px;
  }
  .main-header .links {
    margin-right: 5px;
    gap: 10px;
  }
  .main-header input {
    width: 100px;
  }
  .main-header select {
    width: 100px;
  }
  .main-header .select-page {
    margin-left: 10px;
    margin-right: 5px;
  }
}
.home-page {
  display: flex;
  flex-direction: column;
}
.header {
  background-color: var(---blue);
  box-shadow: 0px 2px 5px #ccc;
  position: fixed;
  width: 100%;
  
}
.home-page nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
.home-page .logo{
  margin-left: 20px;
}
.home-page .logo h2 {
  font-size: 20px;
  font-weight: 700;
  color: white;
}
.home-page .links-account {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.home-page .links{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.home-page .accounts {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-right: 30px;
}
.home-page a, button{
  font-size: 20px;
}
.home-page  nav a, 
.home-page  nav button {
  color: white;
  font-weight: 700;
}
.home-page  nav a:hover, 
.home-page  nav button:hover {
  color: var(---black);
}

.donate {
  margin-right: 20px;
}
.donate button {
  background-color: red;
  padding: 5px 10px;
  border-radius: 3px;
}
.donate button:hover {
  background-color: rgb(178, 4, 4);
}
.accounts {
  margin-top: 80px;
  position: absolute;
  right: 10px; 
  background-color: #fff; 
  border: 1px solid #ccc; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1; 
  display: flex;
  flex-direction: column;
  gap: 0;
  border-radius: 10px;
}

.accounts button {
  width: 100%;
  padding: 5px;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: var(---blue);
  color: var(---white);
  font-size: 20px;
  font-weight: 600;
  border-radius: 3px;
}

.accounts button:hover {
  background-color: var(---hoverBlue);
  color: var(---black);
}

.home-page .home-content {
  padding: 20px;
}
.home-page .about{
  background-color: transparent;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}
.home-page .about .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-page .about .container .text h1{
  font-size: 70px;
  color: var(---green);
  font-weight: 800;
  text-align: center;
}
.home-page .about .container .text h2{
  font-size: 33px;
  color: var(---blue);
  font-weight: 600;
}
.home-page .about .container .text p{
  font-size: 20px;
  color: var(---black);
  font-weight: 500;
  line-height: 50px;
}
.home-page .about .category-type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.home-page .about .category-type h1{
  font-size: 30px;
  color: var(---blue);
  font-weight: 500;
  text-align: center;
}
.home-page .about .category-type ul li {
  list-style-type: disc;
  line-height: 6.2vh;
  font-size: 20px;
}

.home-page .matters {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.home-page .matters .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page .matters .text h1{
  font-size: 50px;
  color: var(---green);
  font-weight: 800;
  text-align: center;
  margin-top: 40px;
}
.home-page .matters .text-p p {
  font-size: 20px;
  color: var(---black);
  font-weight: 500;
  line-height: 50px;
}
.home-page .matters .image img{
  height: 250px;
  width: 450px;
  margin-right: 50px;
  border-radius: 30px;
}
.home-page .how-to {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.home-page .how-to h1 {
  font-size: 50px;
  color: var(---green);
  font-weight: 800;
  text-align: center;
  margin-top: 20px;
}
.home-page .how-to .steps-info {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding: 20px;
}
.home-page .how-to .steps ul li {
  list-style-type: disc;
  line-height: 6.2vh;
  font-size: 20px;

}
.home-page .how-to .step-text p {
  font-size: 20px;
}
.home-page .get-involve {
  display: flex;
  flex-direction: column;
}
.home-page .get-involve h1{
  font-size: 50px;
  color: var(---green);
  font-weight: 800;
  text-align: center;
}
.home-page .get-involve .get-involve-test{
  display: flex;
 justify-content: center;
  text-align: center;
  align-items: center;
}
.home-page .get-involve .get-involve-text p {
   text-align: center;
   font-size: 20px;
   font-weight: 500;
}
.home-page .end-text {
  margin-top: 30px;
  font-size: 25px;
  font-weight: 500;
  color: var(---blue);
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 800px) {
  .home-page .logo{
    margin-left: 10px;
  }
  .home-page .logo h2{
    font-size: 18px;
  }
  .home-page .links-account {
    gap: 40px;
  }
  .home-page .links{
    gap: 10px;
  }
  .accounts {
    margin-top: 90px;
  }
  .home-page .about .container{
    flex-direction: column;
  }
  .home-page .about .category-type{
    flex-direction: column;
  }
  .home-page .matters .container {
    flex-direction: column;
  }
  .home-page .how-to .steps-info {
    flex-direction: column;
  }
}

/* footer css */
.footer {
  height: 10vh;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer p {
  margin-top: 20px;
  text-align: center;
  align-items: center;
  font-weight: 500;
}
/* register pages css */

.register-page {
  display: flex;
  flex-direction: column;
}
.register-page .register-content {
  margin-top: 80px;
}
.register-page  .reg-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: var(---green);
  margin-bottom: 20px;
}
.register-page .register-form {
  display: flex;
  flex-direction: column;
 margin: 0 auto;

}
.register-page form {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
  background-color: var(---lightGray);
  padding: 10px 30px;
  border-radius: 5px;
  margin-bottom: 40px;
}

.register-page form input, select, .Select {
  width: 300px;
  margin-top: 10px;
  margin-bottom: 5px;
  outline: none;
  border: 1px solid var(---blue);
  border-radius: 3px;
  height: 4.5vh;
}
.register-page .radio{
  display: flex;
  flex-direction: column;
} 
.register-page .radio-2, .radio-1 {
  display: inline-block;
  position: relative;
  margin: 0 10px;
  text-align: left;
}
.register-page .radio-1 input, 
.register-page .radio-2 input {
  width: 15px;
  height: 15px;
  margin: 0 10px;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}
.register-page button {
  background-color: var(---skyBlue);
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
}
.register-page button:hover {
  background-color: var(---hoverBlue); 
}
.register-button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page{
  display: flex;
  flex-direction: column;
  height: 90vh;
}
.login-page .login-content {
  margin-top: 90px;
  margin: 90px auto;
  background-color: var(---lightGray);
  padding: 10px 30px;
  border-radius: 10px;
}
.login-page  .log-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: var(---green);
  margin-bottom: 10px;
}
.login-page .login-form{
  margin: 0 auto;
}

.login-page form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.login-page form  input,select {
  outline: none;
  border: 1px solid #09b1f3;
  border-radius: 3px;
  height: 4.5vh;
  width: 250px;
}
.login-page form  input{
  padding: 10px;
}
.login-page form label{
  margin-bottom: 10px;
}
.login-page form button {
  background-color: var(---skyBlue);
  padding: 5px 15px;
  border-radius: 5px;
  color: var(---white);
  font-weight: 500;
}
.login-page form button:hover{
  background-color: var(---hoverBlue);
}
.login-page form .button {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-page .login-as h2{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: var(---green);
  margin-bottom: 10px;
}
/* donors page css */
.main-header .search-input {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.main-header .search-input input {
  border-radius: 5px;
  outline: none;
  padding: 3px;
}
.main-header .search-input button {
  background-color: var(---white);
  padding: 3px 15px;
  border-radius: 5px;
  color: var(---black);
  font-weight: 700;
}
.main-header .search-input button:hover {
  background-color: orangered;
}
.donor-page{
  display: flex;
  flex-direction: column;
}

.donor-content{
  margin-top: 90px;
}
.donor-content .donor-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}
.donor-content .donor-text h1 {
  color: var(---green);
  font-size: 40px;
  font-weight: 700;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0 20px;
}
.users-cards{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 280px;
  background-color: var(---lightGray);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 30px;
}
.users-cards:hover{
  background-color: var(---gray)
}
.users-cards .img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.users-cards .img img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.users-cards .card-text {
  display: flex;
  flex-direction: column;
text-align: center;
align-items: center;
}
.users-cards .card-text .name{
  color: var(---green);
  font-size: 20px;
  font-weight: 700;
}
.users-cards .card-text .name p {
  text-transform:unset;
}
.users-cards .card-text{
  color: var(---skyBlue);
  font-size: 18px;
  font-weight: 500;
}
.users-cards .card-text:hover{
  color: var(---white);
}
.users-cards .card-text span{
  color: var(---blue);
}

@media screen and (max-width: 800px) {
  .users-cards {
    width: 200px;
  }
}

@media screen and (min-width: 469) {
  .cards{
    justify-content: center;
  }
}

/* admin page css */
.admin-page {
  display: flex;
  flex-direction: column;
}
.admin-page-content {
  padding: 20px;
  margin-top: 90px;
}
.admin-page-content h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(---green);
  text-align: center;
}

.users-table {
  overflow-x: auto;
}

.admin-page table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.admin-page thead {
  background-color: var(---green);
  color: #ffffff;
  text-align: left;
}

.admin-page th, 
.admin-page td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.admin-page tbody tr:hover {
  background-color: #f5f5f5;
}

.admin-page table button {
  background-color: #e74c3c;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.admin-page table button:hover {
  background-color: #c0392b;
}
